<br />
<br />
<h2>Confirm deletion of order</h2>
ID:
<%=  orders._orderid %>
<br> Order Date:
<%= orders.orderDate %>
<br /> Product ID:
<%= orders._productid %>
<br /> Customer ID:
<%= orders._customerid %>
<br /> total amount:
<%= orders.totalAmount %>
<br />
<br />
<br />

<form method="get" action="/order">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />
<form method="POST" action="/order/delete/<%= orders._orderid %>">
    <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>