<div class="container-fluid">
  <div class=row>
      <div class="col-md-12">
        <h3>There are
          <%= orders.query.length %> Orders.
        </h3>
      </div>

      <% for (var i = orders.query.length-1; i >= 0; i--) {   
              order = orders.query[i];   %>
        <div class="col col-md-4" style="margin:10px;">
          ID:
          <%=  order._orderid %>
          <br> Order Date:
          <%= order.orderDate %>
          <br /> Product ID:
          <%= order._productid %>
          <br /> Customer ID:
          <%= order._customerid%>
          <br />Amount:
          <%= order.totalAmount %>
          <br />
          <a href="/order/delete/<%= order._orderid  %>" class="btn btn-danger"> Delete </a>
          <a href="/order/details/<%= order._orderid %>" class="btn btn-info"> Details </a>
          <a href="/order/edit/<%= order._orderid %>" class="btn btn-warning"> Edit </a>
        </div>
      <% } %>
    </div>
</div>